<div class="group">
    <h1>Educación</h1>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            <li>
                <h2>INGENIERÍA EN SISTEMAS DE INFORMACIÓN</h2> 
                <h3>Marzo 2022 - Actualidad</h3>
            </li>
            <p>
                Universidad Tecnológica Nacional - Regional de Santa Fe
                Materias aprobadadas: 7/35
            </p>
        </ul>
        <ul>
            <li>
                <h2>CONTADORA PÚBLICA NACIONAL</h2> 
                <h3>Marzo 2012 - Febrero 2017</h3>
            </li>
            <p>
                Universidad Nacional del Litoral
            </p>
        </ul>        

    </div>
</div>
