<body>
    <h1>Proyectos realizados</h1>
    
    <div class="proyect1">
        <div class="parte1 col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <h2>My Portfolio Web</h2>
            <h3>Agosto 2022</h3>
            <p>Como conclusión del curso que brindó el Gobierno Nacional denominado "Argentina Programa #YOPROGRAMO", debíamos crear un Portfolio Personal.</p>  
        </div>
        <div class="parte2 col-xs-12 col-sm-5 col-md-5 col-lg-5">
           <a href="https://github.com/LudmilaAl/ProyectoIntegrador_Arg.Programa"><img src="../../../assets/Imagen Portfolio.png" class="img-fluid"></a>
        </div>

    </div>


</body>
