<div class="group">
    <div class="logo ">
        <img src="../../../assets/LogoAPBlanco.png" id="LogoAP">
        <h1> #YoProgramo</h1>
    </div>

    <div class="redesingr">
                
        <a href="https://github.com/LudmilaAl"><img src="../../../assets/LogoGit.png" class="redes" ></a>
        <a href="https://www.instagram.com/ludmilaalloatti"><img src="../../../assets/LogoIG.png" class="redes" ></a>
        <a href="https://www.linkedin.com/in/ludmila-alloatti-ba3b21203"><img src="../../../assets/LogoLinkedin.png" class="redes" ></a>
        <button type="button" class="btn btn-outline-light">INGRESO</button>
        
    </div>
        
</div>

