<body>
    <h1>Hard & Soft Skills</h1>
<div class="group">
   
    <div class="circle per-80 col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="inner">HTML 80%</div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="circle per-75 col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="inner">CSS 75%</div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="circle per-70 col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="inner">JAVA 70%</div>
    </div>
</div>

<div class="group">
   
    <div class="circle per-100 col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="inner">Español C2</div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="circle per-66 col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="inner">Inglés B2</div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="circle per-33 col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="inner">Italiano A2</div>
    </div>

</div>


</body>
