<div class="group">
    <h1>Experiencia Laboral</h1>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            <li>
                <h2>CONTADORA INDEPENDIENTE</h2> 
                <h3>Julio 2018 - Actualidad</h3>
            </li>
            <p>
                Ejercicio de la profesión liberal de forma independiente. Liquidación de impuestos mensuales y anuales (PJ y PH), liquidación de sueldos, confección de EECC, procesamiento, trámites varios.
            </p>
        </ul>
        <ul>
            <li>
                <h2>RESPONSABLE AREA CONTABLE - ESTUDIO CONTABLE MILMAN & ASOCIADOS</h2> 
                <h3>Diciembre 2017 - Enero 2022</h3>
            </li>
            <p>
                Responsable del área contable con personal a cargo. Tareas contables básicas, confección de EECC, liquidación de impuestos anuales de PJ. Auditorías internas y externas en empresas. Liquidación de impuestos provinciales y nacionales. Liquicación de Ganancias y Bs. Personales PH, entre otras.
            </p>
        </ul>        
        <ul>
            <li>
                <h2>PASANTE CAJA DE ASISTENCIA SOCIAL - LOTERÍA DE SANTA FE</h2> 
                <h3>Julio 2016 - Junio 2017</h3>
            </li>
            <p>
                Pasante de la Dirección General de Casinos y Bingos. Control contable, impositivo y previsional de los Casinos de la Provincia. Cálculo del canon a pagar por los Casinos. Soporte del Director y Subdirectora del sector.
            </p>
        </ul>
        <ul>
            <li>
                <h2>ADMINISTRATIVA - NEO INVERSIONES INMOBILIARIAS SRL</h2> 
                <h3>Octubre 2014 - Diciembre 2015</h3>
            </li>
            <p>
                 Conciliaciones bancarias, manejo de Cash Flow. Registraciones contables, contacto con Contador externo. Manejo de cuentas de clientes y proveedores, pagos, SICORE. Altas y bajas de personal, actualización de legajos. Informes gerenciales.
         </p>
        </ul>
    </div>
</div>
