<div class="group">
    <div class="semigroup col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/Fotoperfil.png" class="img-fluid" id="fotoCV">
    </div>
    <div class="semigroup col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">Alloatti Ludmila M.</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="semigroup col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h2>Acerca de mí</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptatum facilis a quaerat voluptatem enim et est iste vel? Illum, adipisci et! Quo autem velit a possimus obcaecati illum quos.</p>
        </span>
    </div>
</div>
